# Use LF in repo for text files
* text=auto eol=lf

# Explicit common file types
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
